@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* Header */
  .head-section {
    height: 180px;
    flex-wrap: wrap;
    padding: 10px 20px;
    position: relative;
  }
  
  .logo img {
    width: 50px;
    margin-left: 20px;
  }

  .nav-list {
    font-size: 13px;
    gap: 10px;
  }

  .nav-items {
    padding: 0 12px 25px;
    font-size: 11px;
  }

  .search-bar {
    margin-left: 20px;
    width: 250px;
  }

  .search-bar input {
    width: 200px;
  }

  .elements {
    gap: 15px;
  }

  .element p {
    font-size: 11px;
  }

  /* Adds */
  .adds-section {
    margin-top: 10px;
  }

  /* Banner */
  .banner-carousel {
    height: 300px;
  }

  /* Text */
  .text-container {
    font-size: 1.5em;
    margin-left: 20px;
  }

  /* Carousels */
  .rs-carousel,
  .luke-carousel,
  .medal-carousel,
  .global-carousel {
    height: 280px;
  }

  .luke-carousel img,
  .medal-carousel img,
  .global-carousel img {
    width: 16.666%;
  }

 .products-5 .flex-container {
  display: flex;
  gap: 0; /* removes flex gap */
  margin: 0;
  padding: 0;
}

.products-5 .flex-container img {
  display: block; /* removes inline spacing */
  margin: 0;
  padding: 0;
}

  /* Category grid */
  .flex-container img {
    width: calc(100%/6);
    /* margin: 5px; */
  }

  /* Footer */
  .footer {
    margin-left: 5%;
    margin-right: 5%;
  }

  .footer-section1 {
    flex-wrap: wrap;
    gap: 30px;
  }

  .online-shopping,
  .customer-polices {
    width: 45%;
  }

  .exp-myntra,
  .original {
    width: 100%;
  }

  .app-stores img {
    height: 40px;
  }

  .original .og1,
  .original .og2 {
    justify-content: center;
  }

  .original .text {
    width: 60%;
  }

  /* Side banner */
  .side-banner {
    bottom: 100px;
    width: 20px;
    font-size: 18px;
    height: 200px;
  }

  .side-banner div {
    font-size: 16px;
    margin-bottom: 2px;
  }

  .bell{
    bottom: 40px;
  }
}